.vscode/**
config/.ten_b_rig_name

# Ignore everything in ./.history/ except for ./.history/.vscode/
.history/*
!.history/.vscode/

# Now ignore everything in ./.history/.vscode/ except those with "settings" in their name
.history/.vscode/*
!.history/.vscode/*settings*

*aws*
*bash_history*
*lesshst*
*pythonhist*
*python_history*
*zcompdump*
*zsh_history*
*zshrc.zwc*
src/**
src/**/bin/**
src/**tar
src/**tar.gz
!src/**/*zsh*
!src/**/*sh*
*.diff
