[submodule "src/tabbed"]
	path = src/tabbed
	url = https://git.suckless.org/tabbed
[submodule "src/nautilus-open-any-terminal"]
	path = src/nautilus-open-any-terminal
	url = git@github.com:Stunkymonkey/nautilus-open-any-terminal.git
[submodule "src/zsh"]
	path = src/zsh
	url = git://git.code.sf.net/p/zsh/code
[submodule "src/zsh-interactive-cd"]
	path = src/zsh-interactive-cd
	url = git@github.com:johannchangpro/zsh-interactive-cd.git
[submodule "src/fzf-git"]
	path = src/fzf-git
	url = git@github.com:junegunn/fzf-git.sh.git
[submodule "src/fzf"]
	path = src/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "src/pip-fzf"]
	path = src/pip-fzf
	url = git@github.com:paw-lu/pip-fzf.git
[submodule "src/explainshell"]
	path = src/explainshell
	url = git@github.com:idank/explainshell.git
[submodule "src/icons-in-terminal"]
	path = src/icons-in-terminal
	url = https://github.com/sebastiencs/icons-in-terminal.git
[submodule "src/nnn"]
	path = src/nnn
	url = git@github.com:jarun/nnn.git
[submodule "src/tmux"]
	path = src/tmux
	url = https://github.com/tmux/tmux.git
[submodule "src/entr"]
	path = src/entr
	url = git@github.com:eradman/entr.git
[submodule "src/midnight-commander"]
	path = src/midnight-commander
	url = git://repo.or.cz/midnight-commander.git
[submodule "src/zsh-autocomplete"]
	path = src/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "src/gnome-browser-connector"]
	path = src/gnome-browser-connector
	url = https://gitlab.gnome.org/nE0sIghT/gnome-browser-connector.git
[submodule "src/src/WhiteSur-gtk-theme"]
	path = src/WhiteSur-gtk-theme
	url = https://github.com/vinceliuice/WhiteSur-gtk-theme.git
[submodule "src/facetimehd-firmware"]
	path = src/facetimehd-firmware
	url = https://github.com/patjak/facetimehd-firmware.git
[submodule "config/zsh/.antidote"]
	path = config/zsh/.antidote
	url = https://github.com/mattmc3/antidote.git
